<div
  class="hero-container relative flex h-[90vh] min-h-[500px] flex-col items-center justify-center overflow-hidden p-8 pt-20 text-white sm:pt-0">
  <div class="bg-pattern-left absolute"></div>
  <div class="bg-pattern-right absolute"></div>

  <div class="hero-content relative z-20 mx-auto mt-24 max-w-[800px] text-center">
    <h1 class="mb-4 text-[48px] font-bold leading-[47px] md:text-5xl">
      <span class="text-amber-400">Real-Time Data </span>

      On Cybersecurity Impact Across Guinea.
    </h1>
    <p class="description mx-auto mb-8 max-w-2xl text-base leading-snug text-white md:text-[22px]">
      We proudly share transparent statistics on how many organizations, partners, and cyber helpers are engaged — and
      how many diagnostics have been successfully conducted.
    </p>
  </div>
</div>

<section class="relative z-10 mb-0">
  <app-supporting-organizations></app-supporting-organizations>
  <app-cyber-helpers-location></app-cyber-helpers-location>
  <app-quote-lists></app-quote-lists>
  <app-subs-container></app-subs-container>
</section>
