.chart-container{
  border: 1px solid #23044833;
  border-radius: 20px;
  background: white;
}
:host ::ng-deep .ngx-charts-tooltip-content {
  border-radius: 8px;
  padding: 1rem;
  font-family: 'Inter', sans-serif;
}
:host ::ng-deep .axis-label {
  font-size: 14px;
  font-weight: 500;
  fill: #4b5563;
}
:host ::ng-deep .tick text {
  font-size: 12px;
  fill: #6b7280;
}
:host ::ng-deep .gridline {
  stroke: #e5e7eb;
}
:host ::ng-deep .tooltip-container {
  background-color: #1f2937;
  color: #f3f4f6;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  font-family: 'Inter', sans-serif;
}
:host ::ng-deep .tooltip-title {
  font-weight: 600;
  font-size: 0.875rem;
  color: #9ca3af;
  border-bottom: 1px solid #4b5563;
  padding-bottom: 0.25rem;
  margin-bottom: 0.5rem;
}
:host ::ng-deep .tooltip-series {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
}
:host ::ng-deep .tooltip-color-box {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 9999px;
  margin-right: 0.5rem;
}
:host ::ng-deep .tooltip-value {
  font-weight: 600;
}
select.filter-date{
  background: #F8F4FE !important;
  border: 1px solid #23044833 !important;
  color: rgba(35, 4, 72, 1) !important;
}
.filter-date svg{
  color: rgba(35, 4, 72, 1) !important;
}