<div class="mb-2 mt-4 ml-8 flex justify-between">
  <div class="inline-block">
    <h3 class="text-primary text-2xl font-bold">Contact Organization</h3>
  </div>
  <div class="inline-block space-x-4"></div>
</div>
<div class="flex h-screen font-sans text-gray-800 antialiased">
  <div class="w-1/4 max-w-sm flex-none overflow-hidden border-r border-gray-200 shadow-md">
    <app-conversation-list></app-conversation-list>
  </div>
  <div class="ml-8 flex-grow">
    <app-chat-detail></app-chat-detail>
  </div>
</div>
