.background-grid {
    position: relative;
    background-color: #F8F4FE;
    overflow: hidden;
  }
  
  .background-grid::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
      linear-gradient(to right, rgba(92, 92, 92, 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(92, 92, 92, 0.05) 1px, transparent 1px);
    background-size: 100px 100px;
    z-index: 0;
  }
  