<section class="bg-white py-16">
  <div class="mx-auto max-w-7xl text-center">
    <h2 class="text-primary mb-12 px-16 text-[42px] font-bold">
      See How Samory Mon Aide Cyber Is Supporting Organizations Across The Country.
    </h2>

    <div class="flex justify-center gap-6">
      <app-info-card
        iconPath="assets/icons/heroicons/solid/desktop.svg"
        value="328"
        description="Cyber Helpers Registered"
        [isPrimary]="true"></app-info-card>
      <app-info-card
        iconPath="assets/icons/internal/remix.svg"
        value="52"
        description="Partner Associations"></app-info-card>
      <app-info-card
        iconPath="assets/icons/internal/streamline.svg"
        value="1,154"
        description="Organizations Assisted"></app-info-card>
      <app-info-card
        iconPath="assets/icons/internal/bag.svg"
        value="847"
        description="Diagnostics Completed"></app-info-card>
    </div>
  </div>
</section>
