<div class="chart-container shadow-xs mx-auto max-w-full overflow-hidden rounded-3xl bg-white p-6">
  <div class="mb-6 flex flex-col items-start justify-between sm:flex-row sm:items-center">
    <h2 class="mb-2 text-lg font-semibold text-[#230448] sm:mb-0">{{ chartTitle() }}</h2>
    <div class="mt-4 flex flex-col items-start space-y-4 sm:mt-0 sm:flex-row sm:items-center sm:space-y-0 sm:space-x-4">
      <div class="flex items-center space-x-2 text-sm text-gray-600">
        @for (item of legendItems(); track item.label) {
        <div class="flex items-center space-x-1">
          <span class="h-2 w-2 rounded-full" [style.background-color]="item.color"></span>
          <span class="text-xs text-[#2304484D]">{{ item.label }}</span>
        </div>
        }
      </div>
      <div class="relative w-full sm:w-28">
        <select
          (change)="onFilterChange($event)"
          class="filter-date w-full cursor-pointer appearance-none rounded-lg border border-gray-300 bg-white py-2 px-4 pr-8 text-sm font-medium leading-tight text-[#230448] transition-all focus:border-[#5AA454] focus:outline-none focus:ring-1 focus:ring-[#5AA454]">
          @for (option of filterOptions(); track option.value) {
          <option [value]="option.value" [selected]="option.value === 'year'">{{ option.label }}</option>
          }
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-[#230448]">
          <svg class="h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15 9.707l-1.414-1.414L10 12.586l-3.586-3.586L5 9.707z"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="-ml-10 h-[400px] w-full">
    <ngx-charts-area-chart-stacked
      [view]="view()"
      [scheme]="colorScheme()"
      [results]="chartData()"
      [gradient]="gradient()"
      [xAxis]="showXAxis()"
      [yAxis]="showYAxis()"
      [legend]="false"
      [showXAxisLabel]="showXAxisLabel()"
      [showYAxisLabel]="showYAxisLabel()"
      [xAxisLabel]="xAxisLabel()"
      [yAxisLabel]="yAxisLabel()"
      [animations]="animations()">
    </ngx-charts-area-chart-stacked>
  </div>
</div>
