<div *ngIf="isOpen" class="modal-backdrop">
  <div [@modalAnimation]="isOpen ? 'open' : 'void'" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ data?.title }}</h3>
        <button (click)="onCancel()" class="modal-close-button">
          <svg
            xmlns="[http://www.w3.org/2000/svg](http://www.w3.org/2000/svg)"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-x">
            <path d="M18 6 6 18" />
            <path d="m6 6 12 12" />
          </svg>
        </button>
      </div>

      <div class="modal-body">
        <div *ngIf="data && data.description" class="modal-description">
          <p>{{ data.description }}</p>
        </div>

        <ng-container *ngIf="data && data.customComponent">
          <ng-template
            [ngComponentOutlet]="data.customComponent"
            [ngComponentOutletInputs]="data.customComponentInputs">
          </ng-template>
        </ng-container>
      </div>

      <div class="modal-footer">
        <button
          *ngFor="let button of data?.buttons"
          (click)="button.action === 'confirm' ? onConfirm() : onCancel()"
          [ngClass]="getButtonClasses(button.variant)"
          class="modal-button">
          {{ button.label }}
        </button>
      </div>
    </div>
  </div>
</div>
