<div class="font-inter flex min-h-screen items-center justify-center p-4">
  <div class="w-2xl z-10 max-w-md rounded-3xl bg-[#F8F4FE] p-4 text-center shadow-xl md:max-w-xl md:p-8 lg:p-12">
    @if (isLoading) {
    <div class="flex flex-col items-center justify-center space-y-4">
      <svg
        class="h-16 w-16 animate-spin text-purple-500"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path
          class="opacity-75"
          fill="currentColor"
          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
      </svg>
      <h2 class="text-primary text-2xl font-semibold">Confirming Your Account...</h2>
      <p class="text-gray-600">Please wait while we activate your account.</p>
    </div>
    } @if (successMessage) {
    <div class="flex flex-col items-center justify-center space-y-4">
      <svg-icon src="assets/icons/internal/success.svg" [svgClass]="'h-[95px] w-[95px]'"> </svg-icon>
      <h2 class="text-primary text-2xl font-bold">Success!</h2>
      <p class="text-gray-600">{{ successMessage }}</p>
      <a
        routerLink="/auth/sign-in"
        class="bg-primary hover:bg-primary-dark rounded-xl px-6 py-3 font-semibold text-white transition-colors duration-200">
        Go to Login
      </a>
    </div>
    } @if (errorMessage) {
    <div class="flex flex-col items-center justify-center space-y-4">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-[95px] text-danger">
        <path
          fill-rule="evenodd"
          d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.72 6.97a.75.75 0 1 0-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 1 0 1.06 1.06L12 13.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L13.06 12l1.72-1.72a.75.75 0 1 0-1.06-1.06L12 10.94l-1.72-1.72Z"
          clip-rule="evenodd" />
      </svg>

      <h2 class="text-primary text-2xl font-bold">Error</h2>
      <p class="text-gray-600">{{ errorMessage }}</p>
      <p class="text-gray-600">You can try resending the email:</p>
      <a
        routerLink="/auth/resend-email"
        class="bg-primary hover:bg-primary-dark rounded-xl px-6 py-3 font-semibold text-white transition-colors duration-200">
        Resend Email
      </a>
    </div>
    }
  </div>
</div>
