<div class="hero-container">
  <div class="bg-pattern-layer"></div>

  <div class="hero-content">
    <div class="header-badge">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="badge-icon">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <p>{{ 'PROTECT_YOUR_ORG' | translate }}</p>
    </div>
    <h1 class="text-5xl">
      {{ 'GET_FREE_EXPERT' | translate }} <span class="highlight-text">{{ 'CYBERSECURITY' | translate }}</span>
      {{ 'SUPPORT_FOR_YOUR_ORG' | translate }}
    </h1>
    <p class="description">
      {{ 'NON_PROFIT_DESC' | translate }}
    </p>
    <div class="button-group">
      <app-button full impact="light" tone="primary" shape="rounded" size="large">
        {{ 'BECOME_A_HELPER' | translate }}
      </app-button>
      <app-button full impact="none" tone="primary" shape="rounded" size="large">
        {{ 'REQUEST_DIAGNOSTIC_BTN' | translate }}
      </app-button>
    </div>
  </div>

  <button class="fab-btn">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="fab-icon">
      <path
        fill-rule="evenodd"
        d="M4.804 21.607a6.75 6.75 0 009.472 0l3.995-6.92A6.75 6.75 0 0013.408 4.805a6.75 6.75 0 00-9.47 0l-3.995 6.92a6.75 6.75 0 000 9.471zM6.75 12a.75.75 0 01.75-.75h9a.75.75 0 010 1.5h-9a.75.75 0 01-.75-.75z"
        clip-rule="evenodd" />
    </svg>
  </button>
</div>
